<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/logout}" method="post">
		<button>Logout</button>
	</form>

	<pre th:text="${error}"></pre>
	
	<div id="factura">
		<p th:text="${factura.numero}"></p>
		<p th:text="${factura.fecha}"></p>
	</div>
	
	<div id="cliente" th:object="${factura.cliente}">
		<p th:text="*{nif}"></p>
		<p th:text="*{usuario.nombre}"></p>
	</div>
	
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Fecha de caducidad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p: ${factura.productos}">
				<th th:text="${p.id}">Id</th>
				<td th:text="${p.nombre}">Nombre</td>
				<td th:text="${p.precio}">Precio</td>
				<td th:text="${p.fechaCaducidad}">Fecha de caducidad</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
		
	</table>
</body>
</html>