<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form method="post">
		<input type="number" name="id" placeholder="Id">
		<input type="text" name="nombre" placeholder="Nombre">
		<input type="number" step=".02" name="precio" placeholder="Precio">
		<input type="date" name="fechaCaducidad" placeholder="Fecha de caducidad">
		<input type="number" name="stock" placeholder="Stock">
		
		<button>Aceptar</button>
	</form>
</body>
</html>